<!DOCTYPE html>
<html lang="en">


<%- include('partials/head'); -%>


	<body>
		<%- include('partials/nav'); -%>
			<main>
				<div class="container pt-5">
					<div class="row">
						<div class="col-12" style="margin-top: 10vh;">
							<h2>Changelog</h2>
							<p>So you can know what's up with the website!</p>
							<hr>
							<div class="card automatic">
								<p>
									<strong>v1.3</strong> Comment field gets automatically reselected for better UX
								</p>
								<p>
									<strong>v1.2</strong> Text is now automatically copied to the clipboard
								</p>
								<p>
									<strong>v1.1</strong> Added changelog
								</p>
								<p>
									<strong>v1.0</strong> Created the website
								</p>
							</div>
						</div>
					</div>

				</div>

			</main>
	</body>
	<%- include('partials/footer'); -%>

</html>